{% extends "base.html" %}
{% block title%}{{ name }}{% endblock %}

{% block content %}
<div>

    <main class="main h-100 w-100">

        <div class="container">

            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="#" alt="" width="72" height="57">
                <h2>ฟอร์มแจ้งเรื่องราว/ร้องทุกข์</h2>
                <p class="lead">ผู้แจ้งเรื่องราว/ร้องทุกข์จำเป็นต้องให้ข้อมูลชื่อและเบอร์โทรศัพท์ที่ติดต่อได้ พร้อมให้รายละเอียดของเรื่องราวที่ต้องการแจ้งหรือข้อความร้องทุกข์ พร้อมทั้งรูปถ่ายบุคคลและสถานที่ที่เกิดเหตุ หรือต้องการความช่วยเหลือ เพื่อเจ้าหน้าที่จะได้เข้าช่วยเหลือได้อย่างถูกต้องและรวดเร็ว</p>
            </div>
        
            <hr class="my-4">
            <div class="container">
        
        
                <form action="{{ url_for('post.addpost') }}" enctype="multipart/form-data" class="form-inline" method="post">
                    <div class="row g-5">
                        <div class="col-12">
                        <h4 class="mb-3">รายละเอียดของเรื่องราว</h4>
                        <form class="needs-validation" novalidate="">
                            <div class="row g-3">
                            <div class="col-12">
                                <label for="firstName" class="form-label">ชื่อผู้แจ้ง</label>
                                <input type="text" class="form-control" id="firstName" name = "name" placeholder="" value="" required="">
                                <div class="invalid-feedback">
                                จำเป็นต้องกรอกชื่อผู้แจ้ง
                                </div>
                            </div>
                
                
                            <div class="col-12">
                                <label for="phone" class="form-label">เบอร์โทรศัพท์</label>
                                <input type="text" class="form-control" id="phone" name = "phone" placeholder="" required="">
                                <div class="invalid-feedback">
                                กรุณากรอกเบอร์โทรศัพท์ที่ติดต่อได้
                                </div>
                            </div>
        
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" name = "data" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                    <label for="floatingTextarea2">ข้อความเรื่องราว/ร้องทุกข์</label>
                                </div>
                            </div>
        
                            <hr class="my-4">
                            
                
                            <div class="col-12">
                              <div class="form-group">
                                <label>Choose Images: </label>
                                <input type="file" name="files[]" id="fileInput" class="form-control" multiple="multiple" >
                                <output id="result"></output>
                              </div>
                            </div>
                                    
                        </form>
        
                            <hr class="my-4">
                
                            <button class="w-100 btn btn-primary btn-lg" type="submit">ส่งข้อความเรื่องราว/ร้องทุกข์</button>
                        </div>
                    </div>
        
                </form>
            </div>


        </div>
        

    </main>
      
</div>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
    document.querySelector("#fileInput").addEventListener("change", (e) => { //CHANGE EVENT FOR UPLOADING PHOTOS
        if (window.File && window.FileReader && window.FileList && window.Blob) { //CHECK IF FILE API IS SUPPORTED
          const files = e.target.files; //FILE LIST OBJECT CONTAINING UPLOADED FILES
          const output = document.querySelector("#result");
          output.innerHTML = "";
          for (let i = 0; i < files.length; i++) { // LOOP THROUGH THE FILE LIST OBJECT
              if (!files[i].type.match("image")) continue; // ONLY PHOTOS (SKIP CURRENT ITERATION IF NOT A PHOTO)
              const picReader = new FileReader(); // RETRIEVE DATA URI 
              picReader.addEventListener("load", function (event) { // LOAD EVENT FOR DISPLAYING PHOTOS
                const picFile = event.target;
                const div = document.createElement("div");
                div.innerHTML = `<img class="thumbnail" src="${picFile.result}" title="${picFile.name}"/>`;
                output.appendChild(div);
              });
              picReader.readAsDataURL(files[i]); //READ THE IMAGE
          }
        } else {
          alert("Your browser does not support File API");
        }
      });

</script>
{% endblock %}