@charset "UTF-8";
html * {
    box-sizing: border-box;
  }
  
p {
    margin: 0;
  }
  
  #result{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
  }
  
  .thumbnail {
    height: 192px;
  }